<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button><a href="/celebrities/create">CREAR CELEBRITY</a></button>
<button><a href="/celebrities">CELEBRITIES</a></button>
<button><a href="/movies">MOVIES</a></button>