body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.pelis{
  display: flex;
  flex-direction: column;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.barra{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
  padding: 1rem;
  margin-bottom: 2rem;
}
.barra a{
  color: white;
  text-decoration: none;
}
.barra a:hover{
  color: darkslategrey;
}

.detail{
  border: 1px solid cornflowerblue;
  padding: 1rem;
}
.title{
  color: cornflowerblue;
  font-weight: bold;
}