

<div class="flex">
    {{#each peli}}
        <div class="peli">
            <a href="/movies/{{_id}}">{{title}}</a>
            {{/each}}
        </div>
        <button><a href="/movies/create">CREATE A NEW MOVIE</a></button>
</div>