<form action="/movies/create" method="post">
    <label for="title">title</label>
    <input type="text" name="title">
    <label for="genre">genre</label>
    <input type="text" name="genre">
    <label for="plot">plot</label>
    <input type="text" name="plot">
    <select name="cast" id="cast">
        {{#each celebrities}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <button type="submit">CREATE MOVIE</button>
</form>